:root {
  --primary-color: #015cbf;
  --secondary-color: #f8f9fa;
  --heading-font-family: "Halant", serif;
  --para-font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--para-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 50px;
  color: #233142;
  margin: 30px 0;
  text-align: center;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 26px;
  color: #233142;
  opacity: 90%;
  text-align: center;
  margin: 0 0 80px;
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  opacity: 90%;
}

p {
  font-weight: 400;
}

.banner {
 
  background-image: url(/src/images/forensics-banner.jpeg);
  
}
/*---------------------------------
# Navigation
----------------------------------- */

.logo {
  margin-left: 50px;
  padding: 5px;
}

.welcome {
  margin-top: 30px;
}
.nav-link {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
 
}

.dropdown-item {
  font-family: var(--heading-font-family);
  font-size: smaller;
}

.btn-sm {
  font-family: var(--heading-font-family);
  font-size: smaller;
  color: var(--primary-color);
  margin-right: 100px;
}


.img-fluid {
  border-radius: 8px;
  padding: 5px;
  margin-top: 30px;
  
 }
   .client-btn {
    margin: 0px 50px 30px;
    color:#0092CA;
    background-color:#FCFAFA ;
    outline: 1px solid;
    width: 120px;
    height: 50px;   
       }

   .nansen-forensics {
     margin-top: 50px;
   }

.p-about-nansen {
  text-align: justify;
  
}

/* ------------------------------
 Services Section 
 --------------------------------*/

 .services {
   margin-top: 50px;
 }
 hr {
   width: 180px;
   color: #0092CA;
    }
.p-services {
  margin-bottom: 3px;
}

.services-btn {
  color: #0092CA;
  background-color: white ;
  outline-color: #0092CA;
  outline: 1px solid;
  width: 150px;
  margin-top: 30px; 
     
}

/* ----------------------------------
Founders Section
-------------------------------------*/

.h-founders {

  margin-top: 80px;
}
.p-founders {
  font-weight: bold;
}

.founders-image {
  margin-top: 100px;
  max-width: 80%;
  max-width: auto;
   
}

/* -----------------------------------
Partners Section
-------------------------------------- */

.partners {
  margin-top: 50px;
}

/* ---------------------------------------
Footer Section - to be completed
------------------------------------------- */
 