:root {
  --primary-color: #015cbf;
  --secondary-color: #f8f9fa;
  --heading-font-family: "Halant", serif;
  --para-font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--para-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 50px;
  color: #233142;
  margin: 30px 0;
  text-align: center;
}

h2 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 26px;
  color: #233142;
  text-align: center;
  margin: 0 0 80px;
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: 400;
}

p {
  font-weight: 400;
}

.banner {
  background-color: var(--secondary-color);
}
/*---------------------------------
# Navigation
----------------------------------- */
.logo {
  margin-left: 50px;
  padding: 5px;
}

.nav-link {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
 
}

.dropdown-item {
  font-family: var(--heading-font-family);
  font-size: smaller;
}

.btn-sm {
  font-family: var(--heading-font-family);
  font-size: smaller;
  color: var(--primary-color);
  margin-right: 100px;
}

.img-fluid {
  border-radius: 8px;
 }
   .services-btn {
    margin: 0px 50px 30px;
    color:#0092CA;
    background-color:#FCFAFA ;
    outline: 1px solid;
    width: 120px;
    height: 50px;   
       }

   
.about-nansen {
  text-align: justify;
 
}